body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  color: #128538;
  background-color: rgb(160, 160, 160);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  width: 140px;
  height: 80px;
  margin: 1px;
  background-color: rgb(19, 17, 17);
  border: 0px;
  border-radius: 8px;
  font-size: 20px;
  color: #128538;
  font-family: 'Rajdhani';
}

button:hover {
  background-color: rgb(23, 24, 23);
  box-shadow: 0px 0px 2px 0px black;
}

button:active {
  background-color:#128538;
  color: black;
}

button:focus {
  outline-width: 0px;
}

input {
  color: #128538;
  background-color: rgb(19, 17, 17);
}

input:hover {
  background-color: rgb(27, 29, 27);
}

::placeholder {
  color: #128538;
  font-size: 25px;
  font-family: 'Rajdhani';
}

input:focus {
  outline-width: 0px;
}

select {
  background-color: rgb(19, 17, 17);
  color: #128538;
  border: 0.2px #128538 solid;
}

select:hover {
  background-color: rgb(27, 29, 27);
}

select:focus {
  outline-width: 0px;
}

div {
  border: 0px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  height: 30px;
  margin: 20px;
}



.cover-sheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 29, 27);
  height: 101%;
  width: 101%;
  padding-bottom: 70px;
  margin-top: -70px;
  position: absolute;
  z-index: 2;
}

.cover-sheet-title {
  font-size: 120px;
  font-weight: 700;
}

.sign-in-div {
  position: absolute;
  margin-top: 0px;
  padding: 0px;
  box-shadow: 0px 0px 4px 0px black;
  border: 1px solid #000000;
  border-radius: 8px;
}

.register-div {
  position: relative;
  margin-bottom: 120px;
  margin-top: -80px;
  padding: 0px;
  box-shadow: 0px 0px 4px 0px black;
  border: 1px solid #000000;
  border-radius: 8px;
}

.s-r-button {
  margin-top: 100px;
  height: 100px;
  width: 300px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 44px;
  font-weight: 500;
}

.s-r-button:hover {
  box-shadow: 0px 0px 4px 0px #128538;
}

.return-button {
  height: 40px;
  width: 100px;
  font-size: 14px;
  margin-top: -120px;
  font-weight: 700;
}

.username-box {
  padding-left: 10px;
  height: 72px;
  width: 260px;
  border-radius: 7px 0px 0px 7px;
  border: solid 1px black;
  border-right: 0px;
  background-color: rgb(27, 29, 27);
  color: #128538;
  font-size: 25px;
  font-family: 'Rajdhani';
}

.password-box {
  padding-left: 10px;
  height: 72px;
  width: 260px;
  border-radius: 0px;
  border: solid 1px black;
  border-right: 0px;
  background-color: rgb(27, 29, 27);
  color: #128538;
  font-size: 25px;
  font-family: 'Rajdhani';
}

.password-button {
  background-color: rgb(19, 17, 17);
  height: 76px;
  width: 140px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 0px 7px 7px 0px;
  border: solid 1px black;
  margin: -1px;
}

.password-button:focus {
  background-color: rgb(23, 24, 23);
}

.password-button:active {
  background-color: #128538;
}

.bet-selector {
  padding-left: 4px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  border-radius: 3px;
  margin-left: 8px;
  font-family: 'Rajdhani';
}

.big-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  height: 820px;
  min-width: 1100px;
  background-color: rgb(27, 29, 27);
  box-shadow: 0px 0px 4px 4px black;
}


.main-page {
  width: 100%;
  
  height: 100%;
  border: 0px solid yellow;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 0px;
}

.sidebar {
  border: 0px solid yellow;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  justify-content: space-evenly;
  background-color: rgb(19, 17, 17);
  color: black;
  position: absolute;
  left: 0px;
  transition: 0.4s;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 0px 8px 0px;
}


.sidebar-section {
  border: 0px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  margin: 5px;
  border-radius: 10px;
  color: #128538;
  font-size: 30px;
  
}

.sidebar-icon { 
  border: 0px solid red;
  height: 50px;
  margin-right: 35px;
  margin-left: 25px;
  color: #128538;
}


.sidebar-section:hover {
  background-color: rgb(27, 29, 27);
}

.sidebar-block {
  flex: 6;
}

.thin-block {
  flex: 0.2;
}

.right-bar {
  border: 0px solid yellow;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: fit-content;
  
  background-color: inherit;
  position: absolute;
  right: 5px;
  top: 0px;
  transition: 0.4s;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}

.bb-div {
  background-color: rgb(19, 17, 17);
  border-radius: 14px;
  width: fit-content;
  height: 60px;
  font-size: 30px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 0px black;
}

.sum-text {
  font-size: 38px;
}

.leaderboard-button {
  height: 40px;
  width: 140px;
  margin: 2px;
  font-weight: 700;
  font-size: 25px;
}

.leaderboard-button:hover {
  background-color: rgb(19, 17, 17);
  color: rgb(162, 162, 162);
  height: 40px;
  width: 140px;
  cursor: pointer;
  box-shadow: none;
}

.leaderboard-button-active {
  background-color: rgb(27, 29, 27);
  height: 40px;
  width: 140px;
  box-shadow: 0px 0px 4px 0px black;
  margin: 2px;
  color: #128538;
  font-weight: 700;
  font-size: 25px;
}

.leaderboard-button-active:hover {
  height: 40px;
  width: 140px;
  background-color: rgb(27, 29, 27);
  cursor: pointer;
}


.lb-button-div {
  border-radius: 12px;
  padding: 2px;
  background-color: rgb(19, 17, 17);
  margin: 10px 0px 10px 0px;
}

.current-lb-button {
  height: 10px;
}

.all-time-lb-button {
  height: 10px;
}

.leaderboard-sheet {
  position: absolute;
  background-color: rgb(27, 29, 27);
  height: fit-content;
  max-height: 540;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 30px 70px;
  border-radius: 28px;
  box-shadow: 0px 0px 34px 2px rgb(16, 16, 16);
}

.leaderboard-box {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 44px;
  margin-bottom: 10px;
  margin-top: 20px;
  overflow-y: auto;
  border: 2px solid rgb(19, 17, 17);
  border-radius: 4px;
  background-color: rgb(19, 17, 17);
  color: rgb(62, 65, 62);
}


.profile-sheet {
  position: absolute;
  background-color: rgb(27, 29, 27);
  height: fit-content;
  max-height: 540;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 30px 70px;
  border-radius: 28px;
  box-shadow: 0px 0px 34px 2px rgb(16, 16, 16);
  font-size: 50px;
  font-weight: 700;
}

.profile-box {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 44px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid rgb(19, 17, 17);
  border-radius: 4px;
  background-color: rgb(19, 17, 17);
}

.profile-box-row {
  margin: 10px;
  font-size: 40px;
}

.X-button-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  display: flex;
}

.X-button {
  position: absolute;
  margin-left: -62px;
  margin-top: 0px;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0px rgb(16, 16, 16);
  background-color: rgb(27, 29, 27);
}

.X-button:hover {
  background-color: rgb(19, 17, 17);
}

.bottom-box {
  border: 0px solid rgb(255, 28, 65);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2.5;
  justify-content: space-evenly;
  align-items: center;
}


.button-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  border: 0px solid rgb(255, 0, 247);
  width: 100%;
  height: 400px;
  padding-top: 40px;
}

.play-button {
  font-size: 55px;
  font-weight: 500;
  width: 180px;
  height: 100px;
  box-shadow: 0px 0px 6px 0px black;
}

.draw-card-button {
  margin-right: -90px;
  font-size: 35px;
  font-weight: 500;
  width: 180px;
  height: 100px;
}

.stop-drawing-button {
  margin-left: -90px;
  font-size: 35px;
  font-weight: 500;
  width: 180px;
  height: 100px;
}

.text-box {
  border-radius: 40px;
  background-color: rgb(19, 17, 17);
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  min-width: 400px;
  height: 550px;
  border: 0px solid yellow;
  box-shadow: 0px 0px 18px 8px rgb(0, 0, 0);
}

.text-box-rows {
  border: 0px solid rgb(210, 209, 209);
  margin: 0px;
}


.black-cards {
  font-size: 180px;
  color: black;
  background-color: rgb(163, 163, 163);
  margin: 10px;
  height: 137px;
  padding-bottom: 10px;
  width: 111px;
  border-radius: 5px;
}

.red-cards {
  font-size: 180px;
  color: rgb(134, 19, 19);
  background-color: rgb(163, 163, 163);
  margin: 10px;
  height: 137px;
  padding-bottom: 10px;
  width: 111px;
  border-radius: 5px;
}

